<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="../bower_components/angular/angular.js"></script>
    <script>
        var myapp = angular.module('myapp',[]);

        myapp.value("defaultInput", 5);

       /* myapp.factory('MathService', function(){
            var factory = {};
            factory.multiply = function(a, b) { return a*b; }
            return factory;
        });*/

        myapp.config(function($provide) {
            $provide.provider('MathService', function(){
               this.$get = function() {
                   var factory ={};
                   factory.multiply = function(a,b) { return a*b }
                   return factory;
               }
            });
        });

        myapp.service('CalcService', function(MathService) {
            this.square = function(a) {
                return MathService.multiply(a,a);
            }
        });

        myapp.controller("CalcController", function($scope, CalcService, defaultInput){

            $scope.number = defaultInput;
            $scope.result = CalcService.square($scope.number);

            $scope.square = function() {
                $scope.result = CalcService.square($scope.number);
            }
        });
    </script>
</head>
<body >
    <div ng-app="myapp" ng-controller="CalcController" >
        <p>Enter a number:<input type="number" ng-model="number"/></p>
        <button ng-click="square()">X<sup>2</sup></button>
        <p>Result: {{result}}</p>
    </div>
</body>
</html>
